# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore any log files or temporary or sensitive files
*.log
*.tmp
*.bak
*.swp
*.egg.info

# Ignore specific system files
.DS_Store
Thumbs.db

# Ignore Weights & Biases (wandb) files
wandb/
*.wandb

# Ignore builds
build/lib/src/
fastlm.egg-info/
manager_check/

# Ignore logistic folders
trash/
